<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome <%= sessionData.name%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


   
    
</head>

<body>


    <br>
    <!-------------------------------------------- the pop up modal -------------------------------------->
    <div class="container">
        <div class="row">
            <div>

                <div class="modal fade" id="addCandidateModal" tabindex="-1" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add the details for JOB Updates</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="popupchange">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input class="form-control c-form-input" id="form-name" type="text" name="name"
                                            pattern="^[A-Za-z ,.'-]+$" required />
                                        <span class="u-alert" id="form-name-error">Please enter a valid name with
                                            alphabets only</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email </label>
                                        <input class="form-control c-form-input" id="form-email" type="email"
                                            name="email" required="required" pattern=".{3,}" />
                                        <span class="u-alert" id="form-email-error">Please enter a valid email
                                            format</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="name">job_title</label>
                                        <input class="form-control c-form-input" id="form-job_title" type="text"
                                            name="job_title" pattern="^[A-Za-z ,.'-]+$" required />
                                        <span class="u-alert" id="form-job_title-error">Please enter a valid job_title
                                            with alphabets only</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">mobile</label>
                                        <input class="form-control c-form-input" id="form-mobile" type="number"
                                            name="mobile" required />
                                        <span class="u-alert" id="form-mobile-error">Please enter a valid Mobile
                                            Number</span>
                                    </div>



                                    <div class="form-group">
                                        <label for="current_location">current_location</label>
                                        <input class="form-control c-form-input" id="form-current_location" type="text"
                                            name="current_location" required />
                                        <span class="u-alert" id="form-current_location-error">This field cannot be
                                            blanked</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="qualification">qualification</label>
                                        <input class="form-control c-form-input" id="form-qualification" type="text"
                                            name="qualification" pattern="^[A-Za-z ,.'-]+$" required />
                                        <span class="u-alert" id="form-qualification-error">This field cannot be
                                            blanked</span>
                                    </div>


                                    <div class="form-group">
                                        <label for="Experience">Experience</label>
                                        <input class="form-control c-form-input" id="form-Experience" type="text"
                                            name="Experience" required />
                                        <span class="u-alert" id="form-Experience-error">This field cannot be
                                            blanked</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="ctc">ctc</label>
                                        <input class="form-control c-form-input" id="form-ctc" type="text" name="ctc"
                                            required />
                                        <span class="u-alert" id="form-ctc-error">Enter your current ctc , Zero for
                                            freshers</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="ectc">ectc</label>
                                        <input class="form-control c-form-input" id="form-ectc" type="text" name="ectc"
                                            required />
                                        <span class="u-alert" id="form-ectc-error">This field cannot be blanked</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="notice_period">notice_period in Months</label>
                                        <input class="form-control c-form-input" id="form-notice_period" type="number"
                                            name="notice_period" required />
                                        <span class="u-alert" id="form-notice_period-error">Please enter Notice
                                            period</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="date_of_sharing">date_of_sharing</label>
                                        <input class="form-control c-form-input" id="form-date_of_sharing" type="date"
                                            name="date_of_sharing" required />
                                        <span class="u-alert" id="form-date_of_sharing-error">Please enter date of
                                            sharing</span>
                                    </div>


                                    <div class="form-group">
                                        <label for="notes"><span class="c-form-label">Notes</label>
                                        <textarea class="form-control" id="form-notes" maxlength="200" rows="4"
                                            name="notes"></textarea>

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary submitchanges">Save Changes</button>
                                <button class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------- end of the modal part  ------------------------------------------>
</body>

</html>